{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<div >
    <h1>Hello {{code}}! ✅</h1>

    <p>Bienvenue sur la Homepage !</p>

    <h2>Liste des mots enregistrés dans la base de données</h2>

    <p>
    <span>Ajoutez un mot </span>
    <span>
    <a href="{{path('app_ajouter_mot')}}"> en cliquant ici</a>
    </span>.
    </p>

    <div>
    {% for mot in mots %}
        <p>{{mot.mot}}</p>
    {% endfor %}
    </div>
</div>
{% endblock %}
