{% extends 'base.html.twig' %}

{% block title %}Ajouter un mot ou une phrase{% endblock %}

{% block body %}


<div >
    <h1>Ajouter un mot</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}

    
</div>
{% endblock %}
